<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <!-- Input aria -->
  <div class="row">
    <form class="col s12" method="post" action="/">
      <div class="row">
        <div class="input-field col s12">
          <label for="task">To do</label>
          <input type="text" id="task" name="task" placeholder="Enter a task" autocomplete="off"></input>
        </div>
      </div>
      <input class="btn" value="Add Task" type="submit"></input>
    </form>
  </div>
<!-- Todo cards -->
  
    <ul class="collection">
        <% tasks.forEach((task) => {%>
            <li class="collection-item"><%= task.task %> <a href="delete-task/<%= task.id %>" class="secondary-content"><i class="material-icons">delete</i></a> </li>
        <% }) %> 
        
    </ul>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <a href="clear-all/" class="btn">Clear All</a>
          </div>
        </div>
      </form>
    </div>
</body>
</html>