<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sex with curved trees</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
</head>
<body>
    <style>
        body {
            color: #ffa31a;
            background-color: #1b1b1b;
        }
        h1, h2 {
            /* background-color: #808080; */
            background-color: #292929;
            font-size: 48px;
        }
        .title {
            text-align: center;
            font-size: 72px;
        }
        .tree {
            color: white;
        }
        .ph-color {
            background-color: #292929;
        }
        .hub {
            background-color: #ffa31a;
            color: #1b1b1b;
            border-radius: 10%;
            border-color: #ffa31a;
            border-width: 5px;
            border-style: solid;
        }
        img {
            border-color: #292929;
            border-width: 25px;
            border-radius: 5px;
            border-style: solid;
        }
        .mini-logo {
            font-size: 32px;
        }
    </style>
    <div class="title">
        <a class="tree">Tree</a>
        <a class="hub">Hub</a>
    </div>
    <hr style="clear:both;"/>

    <nav>
        <div class="nav-wrapper ph-color">
        <a href="#" class="brand-logo">
            <div class="mini-logo">
                <a class="tree">Tree</a>
                <a class="hub">Hub</a>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Images</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">Profile</a></li>
        </ul>
        </div>
            </div>
    </nav>
        
    
    <img src="https://preview.redd.it/this-curvy-looking-tree-v0-dx9j3ks7d21a1.jpg?width=1080&crop=smart&auto=webp&s=df07c277876461e13af6f0a88bc58ee3d265effc" alt="" srcset="">
    <h1>LOOK AT THESE HOT FUCKING CURVED TREES!!!😘🔥😍🔥😍🔥😘</h1>
    <img src="https://previews.123rf.com/images/pgaborphotos/pgaborphotos1203/pgaborphotos120300019/12683673-tree.jpg" alt="" srcset="">
    <h2>THEY ARE SO HOT IM BOUT TO CUMMMMMM 🥵🥵🥵</h2>

    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-10/31/12/campaign_images/webdr15/12-trees-looking-sexy-af-2-7214-1446309101-0_dblbig.jpg">


    <div class="row">
        <div class="col s12 m6">
          <div class="card" style="background-color: #292929;">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>
    <footer class="page-footer" style="background-color: #292929;">
        <div class="container" style="background-color: #292929;">
          <div class="row" style="background-color: #292929;">
            <div class="col l6 s12" style="background-color: #292929;">
              <h5 class="white-text">Treehub</h5>
              <p class="grey-text text-lighten-4">We have trees you sick fuck.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Go To:</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Suicide hotline</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Rehabs near me</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Closest suicide bridge</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Call 911</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 1999-2035 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Food pls</a>
          </div>
        </div>
    </footer>
</body>
</html>